<table id="dispute-table" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Dispute User</th>
        <th>Game</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>Match Time</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    {{#each match}}
        <tr>
            <td>
                {{this.dispute_user_id.name}}
            </td>
            <td>
                {{this.game_id.name}}
            </td>
            <td>
                {{this.user1_id.name}}
            </td>
            <td>
                {{this.user2_id.name}}
            </td>
            <td>
                {{this.match_time}}
            </td>
            <td>
                {{this.status}}
            </td>
            <td>
                <a type="button" href="/disputes/{{this._id}}">View</a>
            </td>
        </tr>
    {{/each}}

    </tbody>
    <tfoot>
    <tr>
        <th>Dispute User</th>
        <th>Game</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>Match Time</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </tfoot>
</table>

{{#if login}}
    <script>
        // Check browser support
        if (typeof(Storage) !== "undefined") {
            // Store
            const token = '{{login.user.token}}';
            const _id = '{{login.user._id}}';
            const name = '{{login.user.name}}';
            const email = '{{login.user.email}}';
            const role = '{{login.user.role}}';
            localStorage.setItem("token", token)
            localStorage.setItem("_id", _id)
            localStorage.setItem("name", name)
            localStorage.setItem("email", email)
            localStorage.setItem("role", role)
            // Retrieve

            if(localStorage.getItem("token")){
                var a = document.createElement('a');
                var linkText = document.createTextNode("Logout");
                a.appendChild(linkText);
                a.classList.add("list-group-item")
                a.classList.add("list-group-item-action")
                a.classList.add("bg-light")
                a.href = "http://example.com";
                document.getElementById('side-menu').appendChild(a);
            }

            if(localStorage.getItem("name")) {
                // Store
                var Username = localStorage.getItem("name")
                // Retrieve
                document.getElementById("name-tag").innerHTML = "Welcome " + Username;
            }
        }


    </script>
{{/if}}
