<table id="dispute-table" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Dispute User</th>
        <th>Game</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>Match Time</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    {{#each match}}
        <tr>
            <td>
                {{this.dispute_user_id.name}}
            </td>
            <td>
                {{this.game_id.name}}
            </td>
            <td>
                {{this.user1_id.name}}
            </td>
            <td>
                {{this.user2_id.name}}
            </td>
            <td>
                {{this.match_time}}
            </td>
            <td>
                {{this.status}}
            </td>
            <td>
                <a type="button" href="/disputes/{{this._id}}">View</a>
            </td>
        </tr>
    {{/each}}

    </tbody>
    <tfoot>
    <tr>
        <th>Dispute User</th>
        <th>Game</th>
        <th>User 1</th>
        <th>User 2</th>
        <th>Match Time</th>
        <th>Status</th>
        <th>Details</th>
    </tr>
    </tfoot>
</table>