<div class="row">
    <div class="col-12" style="margin-top: 15px">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dispute User</th>
                <th scope="col">Game</th>
                <th scope="col">User 1</th>
                <th scope="col">User 2</th>
                <th scope="col">Match Time</th>
                <th scope="col">Status</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {{#each match}}
                <tr>
                    <td>
                        {{this.dispute_user_id.name}}
                    </td>
                    <td>
                        {{this.game_id.name}}
                    </td>
                    <td>
                        {{this.user1_id.name}}
                    </td>
                    <td>
                        {{this.user2_id.name}}
                    </td>
                    <td>
                        {{this.match_time}}
                    </td>
                    <td>
                        {{this.status}}
                    </td>
                    <td>
                        <a type="button" href="/disputes/{{this._id}}">View</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
