
<div class="content-header row" style="margin: 10px;">
    <div class="content-header-left col-md-12 col-12 mb-2">
        <h3 class="content-header-title">
            View admin</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol id="crumbs" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/disputes">Disputes</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="card" style="
    padding: 10px;
    margin: 20px;
    background-color: #f8f9fa!important;
    border-bottom: 1px solid #dee2e6!important;
    ">


    <div style="padding: 20px">
        <div id="alert-tab" role="alert">

        </div>
        <h4> {{dispute.game.name}} </h4>
        <div style="margin-top: 20px" class="row">
            <div class="col-md-8">
                <div class="card">
                    <h5 style="padding: 20px; margin-top: 10px" class="card-title"> <i class="fa fa-user"></i> Details</h5>
                    <hr/>
                    <div style="padding: 20px" class={"card-body"}>
                        <div class={"row"}>
                            <div class={"col-md-6"}>
                                <p class={"m-0"}><b>Game</b></p>
                                <p>{{dispute.game_id.name}}</p>

                                <p class={"m-0"}><b>Disputed User</b></p>
                                <p>{{dispute.dispute_user_id.name}}</p>

                                <p class={"m-0"}><b>User 1</b></p>
                                <p>{{dispute.user1_id.name}}</p>

                                <p class={"m-0"}><b>User 2</b></p>
                                <p>{{dispute.user2_id.name}}</p>

                                <p class={"m-0"}><b>Match Time</b></p>
                                <p>{{dispute.match_time}}</p>
                            </div>

                            <div>
                                <img style="width: 100px; height: 100px" src="https://www.gaminatic.hexaadev.com/{{dispute.dispute_proof}}" alt=""/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="padding: 20px" class={"col-md-4"}>
                <div class={"card"}>
                    <h5 class={"card-title"}> <i class="fa fa-cog"></i> Actions</h5>
                    <hr/>
                    <div class={"card-body"}>
                        <p>Report Status: <b> {{dispute.status}}</b></p>
                    </div>


                    <div style="margin-top: 50px">
                        <h6>Change Status</h6>
                        <hr>
                    </div>

                    <form id="status-form" action="/change_status" method="POST" onsubmit="postData('/change_status','status-form', 'POST')" >

                        <label for="sel1">Status:</label>
                        <select class="form-control" name="status" required>

                            <option value="underreview">Under Review</option>
                            <option value="open">Open</option>

                        </select>
                        <input type="hidden" value="{{dispute._id}}" name="matchId"/>
                        <button id="assign-btn" style="margin-top: 10px; display: block" class="btn btn-danger" type="submit">
                            Submit
                        </button>

                        <button  disabled id="btn-spinner"  class="btn btn-danger" style="margin-top: 10px; display: none;" > <i class="fa fa-circle-o-notch fa-spin"></i>Loading</button>

                    </form>
                </div>

                    <div style="margin-top: 50px">
                        <h6>Resolve dispute</h6>
                        <hr>
                    </div>

                    <form action="http://localhost:8080/resolve_dispute/" method="POST" >

                        <label for="sel1">Winner:</label>
                        <select class="form-control" name="winner_id" required>

                            <option value="{{dispute.user1_id._id}}">{{dispute.user1_id.name}}</option>
                            <option value="{{dispute.user2_id._id}}">{{dispute.user2_id.name}}</option>
                        </select>
                        <label for="sel1">Loser:</label>
                        <select class="form-control" name="loser_id">
                            <option value="{{dispute.user1_id._id}}" >{{dispute.user1_id.name}}</option>
                            <option value="{{dispute.user1_id._id}}">{{dispute.user2_id.name}}</option>
                        </select>

                        <input type="hidden" value="{{dispute._id}}" name="match_id"/>
                        <button style="margin-top: 10px" class="btn btn-danger" type="submit">
                            Resolve
                        </button>
                    </form>
                </div>
            </div>

    </div>


</div>